In [ ]:
import pandas as pd
import numpy as np

# Pandas Homework Questions

1. *Load Data*: Load the given CSV file into a Pandas DataFrame and verify that the data has been loaded by displaying the first five rows.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Anudip/employee_data_with_nulls_duplicates.csv')
df.head()

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate
0,E0001,David,Miller,26.0,IT,75734,New York,2010-12-27
1,E0002,Sarah,Williams,49.0,IT,95339,Chicago,2014-01-21
2,E0003,Katie,Johnson,53.0,Sales,80644,Philadelphia,2018-09-14
3,E0004,Sarah,Johnson,40.0,Sales,57543,Los Angeles,2017-09-24
4,E0005,Emily,Brown,NaN,Finance,47484,Chicago,2013-11-14

2. *View Structure*: Display the structure of the DataFrame, including the total number of rows and columns, and the column names.

3. *Check Data Types*: Check and print the data types of each column in the DataFrame.

In [ ]:
df.shape

(105, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   105 non-null    object
 1   FirstName    105 non-null    object
 2   LastName     105 non-null    object
 3   Age          95 non-null     float64
 4   Department   105 non-null    object
 5   Salary       105 non-null    int64
 6   City         105 non-null    object
 7   JoiningDate  105 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.7+ KB

4. *Missing Values*: Identify if there are any missing (null) values in the "Age" column of the DataFrame.

In [ ]:
df.isnull().sum()

EmployeeID      0
FirstName       0
LastName        0
Age            10
Department      0
Salary          0
City            0
JoiningDate     0
dtype: int64

5. *Fill Missing Values*: Replace the missing values in the "Age" column with the mean value of the "Age" column.

In [ ]:
df['Age'].fillna(value=df['Age'].mean(), inplace = True)

<ipython-input-7-ac800a06b6bd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(value=df['Age'].mean(), inplace = True)

6. *Duplicate Records*: Check for duplicate rows in the DataFrame and count how many duplicate rows exist.

7. *Remove Duplicates*: Remove the duplicate rows from the DataFrame and verify that duplicates have been removed by checking the new shape of the DataFrame.

In [ ]:
df.duplicated().sum()

5

In [ ]:
df = df.drop_duplicates()
df

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14
...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354,Houston,2016-10-13
96,E0097,David,Miller,29.000000,IT,41395,Chicago,2019-11-01
97,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17

8. *Filter by Condition*: Select and display all employees who belong to the "Marketing" department and have a salary greater than 80,000.

In [ ]:
df[(df['Department']=='Marketing') & (df['Salary']>80000)]

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate
7,E0008,Laura,Garcia,36.0,Marketing,92137,New York,2015-06-24
33,E0034,John,Garcia,58.0,Marketing,107107,Philadelphia,2014-06-25
37,E0038,Sarah,Johnson,23.0,Marketing,105078,Los Angeles,2022-02-01
51,E0052,Michael,Johnson,51.0,Marketing,92887,Philadelphia,2018-07-12
62,E0063,Emily,Rodriguez,53.0,Marketing,106610,New York,2015-03-17
67,E0068,Laura,Garcia,32.0,Marketing,103944,Los Angeles,2016-03-28
73,E0074,Emily,Brown,42.0,Marketing,107596,Philadelphia,2012-08-06
89,E0090,Emily,Williams,25.0,Marketing,81119,Chicago,2020-01-06
98,E0099,Laura,Miller,41.0,Marketing,95117,Houston,2022-05-04

9. *Group by Department*: Group the data by the "Department" column and calculate the average salary for each department.

In [ ]:
df.groupby('Department')[['Salary']].mean().round(2)

               Salary
Department
Engineering  72913.80
Finance      72830.64
HR           81359.30
IT           85481.12
Marketing    85425.36
Sales        75552.33

10. *New Column Addition*: Add a new column called "FullName" by concatenating the "FirstName" and "LastName" columns, separated by a space.

In [ ]:
df['FullName'] = df['FirstName']+' '+df['LastName']
df['FullName']

0       David Miller
1     Sarah Williams
2      Katie Johnson
3      Sarah Johnson
4        Emily Brown
           ...
95       Sarah Jones
96      David Miller
97    Emily Williams
98      Laura Miller
99     Michael Brown
Name: FullName, Length: 100, dtype: object

11. *Age Statistics*: Find and display the minimum, maximum, and average age of the employees.

In [ ]:
print('Minimum Age',df['Age'].min(),'\nMaximum Age',df['Age'].max(),'\nAverage Age',df['Age'].mean())

Minimum Age 23.0
Maximum Age 60.0
Average Age 40.51894736842105

In [ ]:
df['Age'].describe()

count    100.000000
mean      40.518947
std       10.349109
min       23.000000
25%       33.000000
50%       40.394737
75%       48.250000
max       60.000000
Name: Age, dtype: float64

12. *Column Transformation*: Create a new column called "SalaryAfterTax" by subtracting 20% of the "Salary" (as tax) from the original "Salary" column.

In [ ]:
df['SalaryAfterTax'] = df['Salary']-df['Salary']*0.2
df['SalaryAfterTax']

0     60587.2
1     76271.2
2     64515.2
3     46034.4
4     37987.2
       ...
95    89083.2
96    33116.0
97    48267.2
98    76093.6
99    70345.6
Name: SalaryAfterTax, Length: 100, dtype: float64

13. *Top Earners*: Find the top 5 highest-paid employees and display their details.

In [ ]:
df.nlargest(5, ['Salary'])

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate,FullName,SalaryAfterTax
25,E0026,Michael,Miller,39.0,HR,119929,Houston,2011-01-13,Michael Miller,95943.2
79,E0080,John,Rodriguez,57.0,IT,119815,Houston,2014-01-18,John Rodriguez,95852.0
32,E0033,Katie,Miller,27.0,IT,118042,New York,2013-06-11,Katie Miller,94433.6
41,E0042,Emily,Garcia,48.0,Finance,117348,Houston,2012-08-04,Emily Garcia,93878.4
29,E0030,Katie,Rodriguez,54.0,HR,115717,Los Angeles,2016-08-15,Katie Rodriguez,92573.6

In [ ]:
df_top5 = df.sort_values(['Salary'], ascending=False).head(5)
df_top5

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate,FullName,SalaryAfterTax
25,E0026,Michael,Miller,39.0,HR,119929,Houston,2011-01-13,Michael Miller,95943.2
79,E0080,John,Rodriguez,57.0,IT,119815,Houston,2014-01-18,John Rodriguez,95852.0
32,E0033,Katie,Miller,27.0,IT,118042,New York,2013-06-11,Katie Miller,94433.6
41,E0042,Emily,Garcia,48.0,Finance,117348,Houston,2012-08-04,Emily Garcia,93878.4
29,E0030,Katie,Rodriguez,54.0,HR,115717,Los Angeles,2016-08-15,Katie Rodriguez,92573.6

14. *Data Sorting*: Sort the DataFrame based on the "JoiningDate" column in ascending order.

In [ ]:
df["JoiningDate"] = pd.to_datetime(df["JoiningDate"])

In [ ]:
df.sort_values(['JoiningDate'])

,EmployeeID,FirstName,LastName,Age,Department,Salary,City,JoiningDate,FullName,SalaryAfterTax
15,E0016,Katie,Brown,48.000000,Sales,77695,Phoenix,2010-03-03,Katie Brown,62156.0
43,E0044,Chris,Davis,39.000000,Marketing,61719,Philadelphia,2010-06-22,Chris Davis,49375.2
54,E0055,Emily,Brown,43.000000,Engineering,65031,Philadelphia,2010-07-25,Emily Brown,52024.8
14,E0015,Emily,Brown,40.789474,Finance,90289,Chicago,2010-10-10,Emily Brown,72231.2
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2
...,...,...,...,...,...,...,...,...,...,...
48,E0049,Alex,Smith,38.000000,Engineering,52922,Philadelphia,2023-09-11,Alex Smith,42337.6
56,E0057,Alex,Martinez,42.000000,Engineering,74775,New York,2023-09-16,Alex Martinez,59820.0
44,E0045,Emily,Smith,46.000000,Engineering,52826,New York,2023-10-04,Emily Smith,42260.8
70,E0071,Chris,Williams,38.000000,IT,67038,Chicago,2023-10-05,Chris Williams,53630.4
47,E0048,Emily,Williams,35.000000,HR,68221,New York,2023-11-10,Emily Williams,54576.8

15. *Subset of Columns*: Extract and display only the "EmployeeID", "FullName", "Department", and "City" columns as a new DataFrame.

In [ ]:
new_df = df[['EmployeeID','FullName','Department','City']]
new_df

   EmployeeID        FullName   Department          City
0       E0001    David Miller           IT      New York
1       E0002  Sarah Williams           IT       Chicago
2       E0003   Katie Johnson        Sales  Philadelphia
3       E0004   Sarah Johnson        Sales   Los Angeles
4       E0005     Emily Brown      Finance       Chicago
..        ...             ...          ...           ...
95      E0096     Sarah Jones           IT       Houston
96      E0097    David Miller           IT       Chicago
97      E0098  Emily Williams           IT       Chicago
98      E0099    Laura Miller    Marketing       Houston
99      E0100   Michael Brown  Engineering       Chicago

[100 rows x 4 columns]

16. *Conditional Count*: Count the number of employees in the "IT" department who earn more than 60,000.

In [ ]:
((df['Department']=='IT') & (df['Salary']>60000)).sum()

14

17. *Rename Columns*: Rename the column "City" to "Location" and display the updated DataFrame.

In [ ]:
df.rename(columns={'City':'Location'},inplace=True)

In [ ]:
df

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21,Sarah Williams,76271.2
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14,Katie Johnson,64515.2
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2
...,...,...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354,Houston,2016-10-13,Sarah Jones,89083.2
96,E0097,David,Miller,29.000000,IT,41395,Chicago,2019-11-01,David Miller,33116.0
97,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20,Emily Williams,48267.2
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6

18. *Filter by Joining Year*: Extract all employees who joined the company after the year 2018.

In [ ]:
df4=df[df['JoiningDate']>='2019']

In [ ]:
df4

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax
8,E0009,Katie,Miller,28.000000,HR,107535,Chicago,2022-03-17,Katie Miller,86028.0
10,E0011,Emily,Jones,33.000000,Sales,70850,Los Angeles,2019-05-26,Emily Jones,56680.0
11,E0012,Michael,Rodriguez,37.000000,Engineering,73429,Phoenix,2023-06-28,Michael Rodriguez,58743.2
19,E0020,David,Brown,29.000000,Engineering,81682,Chicago,2019-09-16,David Brown,65345.6
23,E0024,Chris,Brown,35.000000,IT,67604,Los Angeles,2021-02-08,Chris Brown,54083.2
26,E0027,Michael,Smith,36.000000,HR,83570,Philadelphia,2019-04-27,Michael Smith,66856.0
27,E0028,Chris,Miller,48.000000,Sales,61023,Houston,2021-07-22,Chris Miller,48818.4
28,E0029,Jane,Smith,47.000000,Engineering,77150,Houston,2022-07-27,Jane Smith,61720.0
31,E0032,Michael,Johnson,26.000000,Sales,75543,Chicago,2020-07-11,Michael Johnson,60434.4
37,E0038,Sarah,Johnson,23.000000,Marketing,105078,Los Angeles,2022-02-01,Sarah Johnson,84062.4
39,E0040,Laura,Jones,25.000000,HR,74954,Phoenix,2021-04-21,Laura Jones,59963.2
42,E0043,Emily,Jones,32.000000,HR,54352,Chicago,2020-04-02,Emily Jones,43481.6
44,E0045,Emily,Smith,46.000000,Engineering,52826,New York,2023-10-04,Emily Smith,42260.8
47,E0048,Emily,Williams,35.000000,HR,68221,New York,2023-11-10,Emily Williams,54576.8
48,E0049,Alex,Smith,38.000000,Engineering,52922,Philadelphia,2023-09-11,Alex Smith,42337.6
50,E0051,Katie,Smith,40.789474,IT,88115,Houston,2019-01-05,Katie Smith,70492.0
56,E0057,Alex,Martinez,42.000000,Engineering,74775,New York,2023-09-16,Alex Martinez,59820.0
58,E0059,Jane,Rodriguez,57.000000,Sales,103949,Chicago,2023-02-22,Jane Rodriguez,83159.2
59,E0060,Sarah,Johnson,39.000000,HR,101267,Los Angeles,2019-05-21,Sarah Johnson,81013.6
60,E0061,Michael,Garcia,55.000000,Marketing,53338,Chicago,2022-02-23,Michael Garcia,42670.4
61,E0062,Emily,Jones,52.000000,IT,93484,Phoenix,2023-02-01,Emily Jones,74787.2
63,E0064,Emily,Miller,47.000000,HR,93800,Philadelphia,2023-01-08,Emily Miller,75040.0
68,E0069,Katie,Garcia,32.000000,Finance,112814,Philadelphia,2023-04-10,Katie Garcia,90251.2
70,E0071,Chris,Williams,38.000000,IT,67038,Chicago,2023-10-05,Chris Williams,53630.4
72,E0073,Katie,Williams,50.000000,Finance,75692,Los Angeles,2019-10-06,Katie Williams,60553.6
74,E0075,Katie,Rodriguez,24.000000,HR,77366,Phoenix,2020-03-20,Katie Rodriguez,61892.8
76,E0077,Emily,Martinez,55.000000,Finance,48125,Phoenix,2021-04-11,Emily Martinez,38500.0
77,E0078,Laura,Smith,40.789474,HR,40201,Los Angeles,2021-04-25,Laura Smith,32160.8
78,E0079,Katie,Jones,33.000000,Finance,107900,Houston,2021-04-11,Katie Jones,86320.0
83,E0084,Emily,Garcia,33.000000,Marketing,70948,Chicago,2023-04-17,Emily Garcia,56758.4
89,E0090,Emily,Williams,25.000000,Marketing,81119,Chicago,2020-01-06,Emily Williams,64895.2
94,E0095,Jane,Jones,54.000000,Sales,67981,Philadelphia,2020-10-28,Jane Jones,54384.8
96,E0097,David,Miller,29.000000,IT,41395,Chicago,2019-11-01,David Miller,33116.0
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6

19. *Unique Values*: List all the unique cities (locations) present in the "City" column.

In [ ]:
city_list = df['Location'].unique()
print(city_list)

['New York' 'Chicago' 'Philadelphia' 'Los Angeles' 'Phoenix' 'Houston']

20. *Average Salary by City*: Calculate and display the average salary of employees for each unique city.

In [ ]:
df.groupby('Location')[['Salary']].mean().round(3)

                 Salary
Location
Chicago       71366.400
Houston       87068.294
Los Angeles   79338.158
New York      76783.231
Philadelphia  79698.400
Phoenix       80137.625

21. *Filter by Age Range*: Select all employees whose ages are between 30 and 45, inclusive.

In [ ]:
df_age = df[(df['Age']<45) & (df['Age']>30)]
df_age

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2
6,E0007,Michael,Martinez,34.000000,Finance,63069,Phoenix,2013-09-12,Michael Martinez,50455.2
7,E0008,Laura,Garcia,36.000000,Marketing,92137,New York,2015-06-24,Laura Garcia,73709.6
10,E0011,Emily,Jones,33.000000,Sales,70850,Los Angeles,2019-05-26,Emily Jones,56680.0
11,E0012,Michael,Rodriguez,37.000000,Engineering,73429,Phoenix,2023-06-28,Michael Rodriguez,58743.2
12,E0013,David,Rodriguez,37.000000,HR,60482,New York,2011-03-20,David Rodriguez,48385.6
13,E0014,Emily,Jones,31.000000,Engineering,81206,Los Angeles,2015-03-10,Emily Jones,64964.8
14,E0015,Emily,Brown,40.789474,Finance,90289,Chicago,2010-10-10,Emily Brown,72231.2
18,E0019,Chris,Jones,35.000000,Sales,104963,Houston,2011-01-12,Chris Jones,83970.4
20,E0021,Chris,Martinez,35.000000,Finance,56516,Chicago,2014-02-22,Chris Martinez,45212.8
21,E0022,Chris,Williams,43.000000,Engineering,55030,Houston,2018-04-15,Chris Williams,44024.0
23,E0024,Chris,Brown,35.000000,IT,67604,Los Angeles,2021-02-08,Chris Brown,54083.2
24,E0025,Sarah,Johnson,43.000000,HR,105209,Houston,2011-07-13,Sarah Johnson,84167.2
25,E0026,Michael,Miller,39.000000,HR,119929,Houston,2011-01-13,Michael Miller,95943.2
26,E0027,Michael,Smith,36.000000,HR,83570,Philadelphia,2019-04-27,Michael Smith,66856.0
30,E0031,Michael,Johnson,36.000000,Sales,65009,Los Angeles,2016-02-06,Michael Johnson,52007.2
34,E0035,Laura,Jones,41.000000,Engineering,90164,Los Angeles,2015-10-17,Laura Jones,72131.2
40,E0041,Katie,Smith,40.789474,Engineering,80564,Houston,2012-06-05,Katie Smith,64451.2
42,E0043,Emily,Jones,32.000000,HR,54352,Chicago,2020-04-02,Emily Jones,43481.6
43,E0044,Chris,Davis,39.000000,Marketing,61719,Philadelphia,2010-06-22,Chris Davis,49375.2
45,E0046,Sarah,Johnson,31.000000,Engineering,65645,Houston,2015-02-16,Sarah Johnson,52516.0
46,E0047,Michael,Jones,31.000000,Finance,43578,New York,2016-10-02,Michael Jones,34862.4
47,E0048,Emily,Williams,35.000000,HR,68221,New York,2023-11-10,Emily Williams,54576.8
48,E0049,Alex,Smith,38.000000,Engineering,52922,Philadelphia,2023-09-11,Alex Smith,42337.6
49,E0050,Laura,Davis,40.789474,Sales,74623,Chicago,2012-10-26,Laura Davis,59698.4
50,E0051,Katie,Smith,40.789474,IT,88115,Houston,2019-01-05,Katie Smith,70492.0
53,E0054,Chris,Smith,36.000000,HR,88818,Phoenix,2013-08-01,Chris Smith,71054.4
54,E0055,Emily,Brown,43.000000,Engineering,65031,Philadelphia,2010-07-25,Emily Brown,52024.8
56,E0057,Alex,Martinez,42.000000,Engineering,74775,New York,2023-09-16,Alex Martinez,59820.0
59,E0060,Sarah,Johnson,39.000000,HR,101267,Los Angeles,2019-05-21,Sarah Johnson,81013.6
64,E0065,David,Rodriguez,38.000000,Sales,87824,Phoenix,2012-09-08,David Rodriguez,70259.2
67,E0068,Laura,Garcia,32.000000,Marketing,103944,Los Angeles,2016-03-28,Laura Garcia,83155.2
68,E0069,Katie,Garcia,32.000000,Finance,112814,Philadelphia,2023-04-10,Katie Garcia,90251.2
69,E0070,Katie,Johnson,36.000000,HR,54525,Los Angeles,2012-04-25,Katie Johnson,43620.0
70,E0071,Chris,Williams,38.000000,IT,67038,Chicago,2023-10-05,Chris Williams,53630.4
71,E0072,David,Brown,32.000000,IT,52433,Chicago,2017-09-05,David Brown,41946.4
73,E0074,Emily,Brown,42.000000,Marketing,107596,Philadelphia,2012-08-06,Emily Brown,86076.8
75,E0076,Michael,Rodriguez,38.000000,IT,93146,New York,2017-10-21,Michael Rodriguez,74516.8
77,E0078,Laura,Smith,40.789474,HR,40201,Los Angeles,2021-04-25,Laura Smith,32160.8
78,E0079,Katie,Jones,33.000000,Finance,107900,Houston,2021-04-11,Katie Jones,86320.0
80,E0081,Emily,Johnson,40.789474,Finance,71591,Houston,2011-09-13,Emily Johnson,57272.8
83,E0084,Emily,Garcia,33.000000,Marketing,70948,Chicago,2023-04-17,Emily Garcia,56758.4
84,E0085,Alex,Miller,40.789474,Sales,97193,Los Angeles,2014-09-20,Alex Miller,77754.4
87,E0088,Emily,Miller,44.000000,Engineering,81764,Los Angeles,2011-01-06,Emily Miller,65411.2
88,E0089,Michael,Brown,40.789474,Sales,49087,Philadelphia,2011-11-03,Michael Brown,39269.6
90,E0091,Sarah,Davis,33.000000,HR,64510,Philadelphia,2016-12-24,Sarah Davis,51608.0
93,E0094,Katie,Smith,35.000000,Sales,84147,Phoenix,2018-05-26,Katie Smith,67317.6
97,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20,Emily Williams,48267.2
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6

22. *Reset Index*: After filtering, reset the index of the DataFrame and drop the old index.

In [ ]:
df_index = df_age.reset_index(drop=True)
df_index

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax
0,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4
1,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2
2,E0007,Michael,Martinez,34.000000,Finance,63069,Phoenix,2013-09-12,Michael Martinez,50455.2
3,E0008,Laura,Garcia,36.000000,Marketing,92137,New York,2015-06-24,Laura Garcia,73709.6
4,E0011,Emily,Jones,33.000000,Sales,70850,Los Angeles,2019-05-26,Emily Jones,56680.0
5,E0012,Michael,Rodriguez,37.000000,Engineering,73429,Phoenix,2023-06-28,Michael Rodriguez,58743.2
6,E0013,David,Rodriguez,37.000000,HR,60482,New York,2011-03-20,David Rodriguez,48385.6
7,E0014,Emily,Jones,31.000000,Engineering,81206,Los Angeles,2015-03-10,Emily Jones,64964.8
8,E0015,Emily,Brown,40.789474,Finance,90289,Chicago,2010-10-10,Emily Brown,72231.2
9,E0019,Chris,Jones,35.000000,Sales,104963,Houston,2011-01-12,Chris Jones,83970.4
10,E0021,Chris,Martinez,35.000000,Finance,56516,Chicago,2014-02-22,Chris Martinez,45212.8
11,E0022,Chris,Williams,43.000000,Engineering,55030,Houston,2018-04-15,Chris Williams,44024.0
12,E0024,Chris,Brown,35.000000,IT,67604,Los Angeles,2021-02-08,Chris Brown,54083.2
13,E0025,Sarah,Johnson,43.000000,HR,105209,Houston,2011-07-13,Sarah Johnson,84167.2
14,E0026,Michael,Miller,39.000000,HR,119929,Houston,2011-01-13,Michael Miller,95943.2
15,E0027,Michael,Smith,36.000000,HR,83570,Philadelphia,2019-04-27,Michael Smith,66856.0
16,E0031,Michael,Johnson,36.000000,Sales,65009,Los Angeles,2016-02-06,Michael Johnson,52007.2
17,E0035,Laura,Jones,41.000000,Engineering,90164,Los Angeles,2015-10-17,Laura Jones,72131.2
18,E0041,Katie,Smith,40.789474,Engineering,80564,Houston,2012-06-05,Katie Smith,64451.2
19,E0043,Emily,Jones,32.000000,HR,54352,Chicago,2020-04-02,Emily Jones,43481.6
20,E0044,Chris,Davis,39.000000,Marketing,61719,Philadelphia,2010-06-22,Chris Davis,49375.2
21,E0046,Sarah,Johnson,31.000000,Engineering,65645,Houston,2015-02-16,Sarah Johnson,52516.0
22,E0047,Michael,Jones,31.000000,Finance,43578,New York,2016-10-02,Michael Jones,34862.4
23,E0048,Emily,Williams,35.000000,HR,68221,New York,2023-11-10,Emily Williams,54576.8
24,E0049,Alex,Smith,38.000000,Engineering,52922,Philadelphia,2023-09-11,Alex Smith,42337.6
25,E0050,Laura,Davis,40.789474,Sales,74623,Chicago,2012-10-26,Laura Davis,59698.4
26,E0051,Katie,Smith,40.789474,IT,88115,Houston,2019-01-05,Katie Smith,70492.0
27,E0054,Chris,Smith,36.000000,HR,88818,Phoenix,2013-08-01,Chris Smith,71054.4
28,E0055,Emily,Brown,43.000000,Engineering,65031,Philadelphia,2010-07-25,Emily Brown,52024.8
29,E0057,Alex,Martinez,42.000000,Engineering,74775,New York,2023-09-16,Alex Martinez,59820.0
30,E0060,Sarah,Johnson,39.000000,HR,101267,Los Angeles,2019-05-21,Sarah Johnson,81013.6
31,E0065,David,Rodriguez,38.000000,Sales,87824,Phoenix,2012-09-08,David Rodriguez,70259.2
32,E0068,Laura,Garcia,32.000000,Marketing,103944,Los Angeles,2016-03-28,Laura Garcia,83155.2
33,E0069,Katie,Garcia,32.000000,Finance,112814,Philadelphia,2023-04-10,Katie Garcia,90251.2
34,E0070,Katie,Johnson,36.000000,HR,54525,Los Angeles,2012-04-25,Katie Johnson,43620.0
35,E0071,Chris,Williams,38.000000,IT,67038,Chicago,2023-10-05,Chris Williams,53630.4
36,E0072,David,Brown,32.000000,IT,52433,Chicago,2017-09-05,David Brown,41946.4
37,E0074,Emily,Brown,42.000000,Marketing,107596,Philadelphia,2012-08-06,Emily Brown,86076.8
38,E0076,Michael,Rodriguez,38.000000,IT,93146,New York,2017-10-21,Michael Rodriguez,74516.8
39,E0078,Laura,Smith,40.789474,HR,40201,Los Angeles,2021-04-25,Laura Smith,32160.8
40,E0079,Katie,Jones,33.000000,Finance,107900,Houston,2021-04-11,Katie Jones,86320.0
41,E0081,Emily,Johnson,40.789474,Finance,71591,Houston,2011-09-13,Emily Johnson,57272.8
42,E0084,Emily,Garcia,33.000000,Marketing,70948,Chicago,2023-04-17,Emily Garcia,56758.4
43,E0085,Alex,Miller,40.789474,Sales,97193,Los Angeles,2014-09-20,Alex Miller,77754.4
44,E0088,Emily,Miller,44.000000,Engineering,81764,Los Angeles,2011-01-06,Emily Miller,65411.2
45,E0089,Michael,Brown,40.789474,Sales,49087,Philadelphia,2011-11-03,Michael Brown,39269.6
46,E0091,Sarah,Davis,33.000000,HR,64510,Philadelphia,2016-12-24,Sarah Davis,51608.0
47,E0094,Katie,Smith,35.000000,Sales,84147,Phoenix,2018-05-26,Katie Smith,67317.6
48,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20,Emily Williams,48267.2
49,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6
50,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6

23. *Add Derived Column*: Add a new column called "PerformanceScore" by generating random values between 1 and 10 for all employees.

In [ ]:
df['PerformanceScore'] = np.random.randint(1,10,len(df))
df.head()

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2,6
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21,Sarah Williams,76271.2,5
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14,Katie Johnson,64515.2,1
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2,5


24. *Age Distribution*: Create bins for the "Age" column (e.g., 20-30, 31-40, 41-50, 51+) and count the number of employees in each age group.

In [ ]:
df['Age Group'] = pd.cut(df.Age,bins=[20,30,40,50,float('inf')],labels=['20-30','31-40','41-50','51+'])
df.head()

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2,6,20-30
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21,Sarah Williams,76271.2,5,41-50
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14,Katie Johnson,64515.2,1,51+
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7,31-40
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50

25. *Conditional Update*: Update the salaries of employees in the "Finance" department by increasing them by 15%, and display the updated rows.

In [ ]:
df_new = df.copy()
df_new

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2,6,20-30
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21,Sarah Williams,76271.2,5,41-50
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14,Katie Johnson,64515.2,1,51+
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7,31-40
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354,Houston,2016-10-13,Sarah Jones,89083.2,9,51+
96,E0097,David,Miller,29.000000,IT,41395,Chicago,2019-11-01,David Miller,33116.0,3,20-30
97,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20,Emily Williams,48267.2,3,41-50
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6,4,41-50
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6,7,31-40

In [ ]:
df_new.loc[df_new['Department'] == 'Finance', 'Salary'] = df_new['Salary']*1.15
df_new

<ipython-input-35-d575f625fe63>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[ 54606.6   72529.35 104629.3  103832.35  64993.4  134950.2   50114.7
 129736.1   87045.8   55343.75 124085.    82329.65  56650.15  51727.  ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Department'] == 'Finance', 'Salary'] = df_new['Salary']*1.15

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
0,E0001,David,Miller,26.000000,IT,75734.0,New York,2010-12-27,David Miller,60587.2,6,20-30
1,E0002,Sarah,Williams,49.000000,IT,95339.0,Chicago,2014-01-21,Sarah Williams,76271.2,5,41-50
2,E0003,Katie,Johnson,53.000000,Sales,80644.0,Philadelphia,2018-09-14,Katie Johnson,64515.2,1,51+
3,E0004,Sarah,Johnson,40.000000,Sales,57543.0,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7,31-40
4,E0005,Emily,Brown,40.789474,Finance,54606.6,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354.0,Houston,2016-10-13,Sarah Jones,89083.2,9,51+
96,E0097,David,Miller,29.000000,IT,41395.0,Chicago,2019-11-01,David Miller,33116.0,3,20-30
97,E0098,Emily,Williams,40.789474,IT,60334.0,Chicago,2015-05-20,Emily Williams,48267.2,3,41-50
98,E0099,Laura,Miller,41.000000,Marketing,95117.0,Houston,2022-05-04,Laura Miller,76093.6,4,41-50
99,E0100,Michael,Brown,33.000000,Engineering,87932.0,Chicago,2023-02-17,Michael Brown,70345.6,7,31-40

In [ ]:
df_new['Salary']=df_new.apply(lambda row: row['Salary']*1.15 if row['Department'] == 'Finance' else row['Salary'], axis=1)

In [ ]:
df_new

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
0,E0001,David,Miller,26.000000,IT,75734.0,New York,2010-12-27,David Miller,60587.2,6,20-30
1,E0002,Sarah,Williams,49.000000,IT,95339.0,Chicago,2014-01-21,Sarah Williams,76271.2,5,41-50
2,E0003,Katie,Johnson,53.000000,Sales,80644.0,Philadelphia,2018-09-14,Katie Johnson,64515.2,1,51+
3,E0004,Sarah,Johnson,40.000000,Sales,57543.0,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7,31-40
4,E0005,Emily,Brown,40.789474,Finance,54606.6,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354.0,Houston,2016-10-13,Sarah Jones,89083.2,9,51+
96,E0097,David,Miller,29.000000,IT,41395.0,Chicago,2019-11-01,David Miller,33116.0,3,20-30
97,E0098,Emily,Williams,40.789474,IT,60334.0,Chicago,2015-05-20,Emily Williams,48267.2,3,41-50
98,E0099,Laura,Miller,41.000000,Marketing,95117.0,Houston,2022-05-04,Laura Miller,76093.6,4,41-50
99,E0100,Michael,Brown,33.000000,Engineering,87932.0,Chicago,2023-02-17,Michael Brown,70345.6,7,31-40

In [ ]:
df_new[df_new['Department']=='Finance']

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
4,E0005,Emily,Brown,40.789474,Finance,54606.60,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50
6,E0007,Michael,Martinez,34.000000,Finance,72529.35,Phoenix,2013-09-12,Michael Martinez,50455.2,2,31-40
9,E0010,Sarah,Miller,60.000000,Finance,104629.30,Los Angeles,2017-01-09,Sarah Miller,72785.6,4,51+
14,E0015,Emily,Brown,40.789474,Finance,103832.35,Chicago,2010-10-10,Emily Brown,72231.2,3,41-50
20,E0021,Chris,Martinez,35.000000,Finance,64993.40,Chicago,2014-02-22,Chris Martinez,45212.8,6,31-40
41,E0042,Emily,Garcia,48.000000,Finance,134950.20,Houston,2012-08-04,Emily Garcia,93878.4,7,41-50
46,E0047,Michael,Jones,31.000000,Finance,50114.70,New York,2016-10-02,Michael Jones,34862.4,3,31-40
68,E0069,Katie,Garcia,32.000000,Finance,129736.10,Philadelphia,2023-04-10,Katie Garcia,90251.2,1,31-40
72,E0073,Katie,Williams,50.000000,Finance,87045.80,Los Angeles,2019-10-06,Katie Williams,60553.6,9,41-50
76,E0077,Emily,Martinez,55.000000,Finance,55343.75,Phoenix,2021-04-11,Emily Martinez,38500.0,6,51+
78,E0079,Katie,Jones,33.000000,Finance,124085.00,Houston,2021-04-11,Katie Jones,86320.0,4,31-40
80,E0081,Emily,Johnson,40.789474,Finance,82329.65,Houston,2011-09-13,Emily Johnson,57272.8,5,41-50
81,E0082,Chris,Martinez,56.000000,Finance,56650.15,Houston,2015-02-21,Chris Martinez,39408.8,7,51+
82,E0083,Chris,Martinez,24.000000,Finance,51727.00,Chicago,2015-10-10,Chris Martinez,35984.0,1,20-30

In [ ]:
df

,EmployeeID,FirstName,LastName,Age,Department,Salary,Location,JoiningDate,FullName,SalaryAfterTax,PerformanceScore,Age Group
0,E0001,David,Miller,26.000000,IT,75734,New York,2010-12-27,David Miller,60587.2,6,20-30
1,E0002,Sarah,Williams,49.000000,IT,95339,Chicago,2014-01-21,Sarah Williams,76271.2,5,41-50
2,E0003,Katie,Johnson,53.000000,Sales,80644,Philadelphia,2018-09-14,Katie Johnson,64515.2,1,51+
3,E0004,Sarah,Johnson,40.000000,Sales,57543,Los Angeles,2017-09-24,Sarah Johnson,46034.4,7,31-40
4,E0005,Emily,Brown,40.789474,Finance,47484,Chicago,2013-11-14,Emily Brown,37987.2,5,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...
95,E0096,Sarah,Jones,53.000000,IT,111354,Houston,2016-10-13,Sarah Jones,89083.2,9,51+
96,E0097,David,Miller,29.000000,IT,41395,Chicago,2019-11-01,David Miller,33116.0,3,20-30
97,E0098,Emily,Williams,40.789474,IT,60334,Chicago,2015-05-20,Emily Williams,48267.2,3,41-50
98,E0099,Laura,Miller,41.000000,Marketing,95117,Houston,2022-05-04,Laura Miller,76093.6,4,41-50
99,E0100,Michael,Brown,33.000000,Engineering,87932,Chicago,2023-02-17,Michael Brown,70345.6,7,31-40